@font-face {
    font-family: "breeze";
    src: url('Breeze.ttf');
}

@font-face {
    font-family: AlphaWood;
    src: url('AlphaWood.ttf');
}

.cont {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.abc {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 10px;
    background-color: white;
    min-height: 200px;
}

.custom {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 10px;
    background-color: white;
    min-height: 200px;
}

.custom5 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
    margin-right: 0px;
    padding: 10px;
    min-height: 400px;
}

.foot {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 10px;
    background-color: rgb(28, 72, 118);
    min-height: 50px;
}

.foottext {
    color: dodgerblue;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.foot1 {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 10px;
    background-color: white;
    min-height: 50px;
}

.custom1 {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 10px;
    background-color: white;
    min-height: 50px;
}

.customheader {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 10px;
    background-color: rgb(28, 72, 118);
    min-height: 20px;
}

.customMenu {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 10px;
    background-color: rgb(28, 72, 118);
    min-height: 300px;
}

.custom2 {
    margin: 3px;
    padding: 10px;
    background-color: silver;
    min-height: 28px;
}

.customcarausal {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 0px;
    background-color: silver;
    min-height: 150px;
}

.customcontainer {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 0px;
    background-color: white;
    min-height: 150px;
}

.item img {
    max-height: 400px;
    min-height: 150px;
}

.txthead {
    font-family: AlphaWood;
    color: ghostwhite;
    font-size: 50px;
    font-stretch: expanded;
    text-align: center;
}

.txtpara {
    font-family: breeze;
    color: white;
    font-size: 25px;
    font-stretch: expanded;
    text-align: center;
    padding-bottom: 25px;
}

body {
    background-color: rgba(0, 0, 0, .1);
}

.cur:hover {
    cursor: pointer;
}

.modal-header {
    background-color: rgba(28, 72, 118, .9);
}

.modal-title {
    color: white;
}

.navbar {
    min-height: 70px
}

.close:hover {
    color: white;
}

.txtfooter {
    text-align: center;
    color: rgb(84, 84, 84);
}

.pad {
    background-color: red;
    padding-left: 50px;
    margin-right: 25px;
}

.bankcontainer {
    margin: 3px;
    min-height: 300px;
    background-color: red;
}

@media only screen and (max-width:361px) {
    .txtpara {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .cont {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .cont {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .cont {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 1170px;
    }
}