@font-face {
    font-family: "breeze";
    src: url('Breeze.ttf');
}

body {
    background-color: rgb(229, 229, 229);
}

.cont {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bankdivemptynon {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 10px;
    background-color: rgb(229, 229, 229);
    min-height: 75px;
}

.bankdivempty {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-right: 3px;
    padding: 10px;
    background-color: white;
    min-height: 70px;
}

.tDiv {
    margin: 3px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: white;
    min-height: 80px;
}

.tDiv2 {
    margin: 3px;
    padding: 15px;
    background-color: rgb(255, 248, 224);
    border-radius: 15px;
    min-height: 80px;
}

.bankfooter {
    min-height: 50px;
    background-color: rgba(28, 72, 118, .9);
    margin: 3px;
    padding: 10px;
}

.foottext {
    color: dodgerblue;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.modal-header {
    background-color: rgba(28, 72, 118, .9);
}

.modal-title {
    color: white;
}

@media (max-width: 500px) {
    .cont {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .cont {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .cont {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 1170px;
    }
}